.app-list-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-family: Bree Serif;
  font-size: 26px;
  font-weight: 700;
}
.search-box-container {
  background-color: transparent;
  border: 2px #7b8794 solid;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.search-input-box {
  outline: none;
  border: none;
  font-size: 18px;
  background-color: transparent;
}
.search-icon {
  height: 24px;
}
.tabs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.apps-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  width: 60%;
}
