.tab-button {
  color: #7b8794;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.tab-item-container {
  list-style-type: none;
  padding-right: 5px;
}
.active-tab-btn {
  text-decoration: underline;
  color: #2563eb;
}
